[*.{cs}]
# CS1591: Do not directly await a Task
# dotnet_diagnostic.CS1591.severity = warning

# Library code should not directly await tasks.
# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = warning
